<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viv.dao.MatchOperation">
    <!--添加一个实体-->
    <insert id="insert" parameterType="com.viv.entity.Match" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `match`
        (title,message,book_message,
        <if test="img != null">
            img,
        </if> book_by, start_time, end_time,
        <if test="reply != null">
            reply,
        </if> status, recent_time)
         VALUES (#{title},#{message},#{book_message}
        <if test="img != null">
            ,#{img}
        </if> ,#{book_by},#{start_time},#{end_time},
        <if test="reply != null">
            #{reply},
        </if> #{status},CURRENT_TIMESTAMP())
    </insert>
    <!--删除一个实体-->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM `match`
        WHERE id = #{id}
    </delete>

    <!--动态分页查询 like == null 精确查询  like ！= null 模糊查询-->
    <select id="select" parameterType="java.util.Map" resultType="com.viv.entity.Match">
        SELECT
        <if test="count == null">
            *
        </if>
        <if test="count != null">
            COUNT(1) AS id
        </if>
        FROM `match`
        <where>
            <if test="like == null">
                <if test="match != null">
                    <if test="match.id != null">
                        id = #{match.id}
                    </if>
                    <if test="match.title != null">
                        AND title = #{match.title}
                    </if>
                    <if test="match.message != null">
                        AND message = #{match.message}
                    </if>
                    <if  test="match.book_message != null">
                        AND book_message = #{match.book_message}
                    </if>
                    <if test="match.img != null">
                        AND img = #{match.img}
                    </if>
                    <if test="match.book_by != null">
                        AND book_by = #{match.book_by}
                    </if>
                    <if test="match.reply != null">
                        AND reply = #{match.reply}
                    </if>
                    <if test="match.status != null">
                        AND status = #{match.status}
                    </if>
                    <if test="match.start_time != null">
                        AND start_time = #{match.start_time}
                    </if>
                    <if test="match.end_time != null">
                        AND end_time = #{match.end_time}
                    </if>
                    <if test="match.recent_time != null">
                        AND recent_time = #{match.recent_time}
                    </if>
                </if>
            </if>
            <if test="like != null">
                <if test="match != null">
                    <if test="match.id != null">
                        id = #{match.id}
                    </if>
                    <if test="match.title != null">
                        AND title LIKE #{match.title}
                    </if>
                    <if test="match.message != null">
                        AND message LIKE #{match.message}
                    </if>
                    <if  test="match.book_message != null">
                        AND book_message LIKE #{match.book_message}
                    </if>
                    <if test="match.img != null">
                        AND img LIKE #{match.img}
                    </if>
                    <if test="match.book_by != null">
                        AND book_by = #{match.book_by}
                    </if>
                    <if test="match.reply != null">
                        AND reply LIKE #{match.reply}
                    </if>
                    <if test="match.status != null">
                        AND status = #{match.status}
                    </if>
                    <if test="match.end_time != null">
                        AND
                        <if test="in_time != null">
                            NOT
                        </if>
                        (start_time &gt;= #{match.end_time}
                    </if>
                    <if test="match.start_time != null">
                        OR end_time &lt;= #{match.start_time})
                    </if>
                </if>
                <if test="startTime != null">
                    AND recent_time &gt;= #{startTime}
                </if>
                <if test="endTime != null">
                    AND recent_time &lt;= #{endTime}
                </if>
            </if>
        </where>
        <if test="page != null">
            ORDER BY ${page.orderFieldStr} ${page.orderDirectionStr}
            <if test="page.pageStart>-1 and page.pageSize>-1">
                limit #{page.pageStart},#{page.pageSize}
            </if>
        </if>
    </select>
    <!--动态更新一个实体-->
    <update id="update" parameterType="com.viv.entity.Match">
        UPDATE `match`
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="message != null">
                message = #{message},
            </if>
            <if test="book_message != null">
                book_message = #{book_message},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="book_by != null">
                book_by = #{book_by},
            </if>
            <if  test="start_time != null">
                start_time = #{start_time},
            </if>
            <if test="end_time != null">
                end_time = #{end_time},
            </if>
            <if test="reply != null">
                reply = #{reply},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="recent_time != null">
                recent_time = #{recent_time}
            </if>

        </set>
        WHERE id = #{id}
    </update>

</mapper>