<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viv.dao.ToolBookOperation">
    <!--添加一个实体-->
    <insert id="insert" parameterType="com.viv.entity.Tool_book" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tool_book
        (tool_id, book_message, book_by, start_time, end_time,
         <if test="reply != null">
             reply,
         </if>  status, reback, recent_time)
        VALUES (#{tool_id},#{book_message},#{book_by},#{start_time},#{end_time},
        <if test="reply != null">
            #{reply},
        </if> #{status},#{reback},CURRENT_TIMESTAMP())
    </insert>
    <!--删除一个实体-->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM tool_book
        WHERE id = #{id}
    </delete>

    <!--联表返回结果-->
    <resultMap id="toolBook_tool" type="com.viv.entity.Tool_book">
        <id property="id" column="id"/>
        <result property="tool_id" column="toolId"/>
        <result property="book_message" column="book_message"/>
        <result property="book_by" column="book_by"/>
        <result property="start_time" column="start_time"/>
        <result property="end_time" column="end_time"/>
        <result property="reply" column="reply"/>
        <result property="status" column="status"/>
        <result property="recent_time" column="recent_time"/>
        <association property="tool" javaType="com.viv.entity.Tool">
            <id property="id" column="toolId"/>
            <result property="title" column="title"/>
            <result property="message" column="message"/>
            <result property="img" column="img"/>
            <result property="is_bad" column="is_bad"/>
        </association>
    </resultMap>

    <!--动态分页查询 like == null 精确查询  like ！= null 模糊查询-->
    <select id="select" parameterType="java.util.Map" resultMap="toolBook_tool">
        SELECT
        <if test="count == null">
            tool_book.id AS id,
            <if test="tool != null">
                tool.id AS toolId,
                tool.title AS title,
                tool.message AS message,
                tool.img AS img,
                tool.is_bad AS is_bad,
            </if>
            tool_book.book_message AS book_message,
            tool_book.book_by AS book_by,
            tool_book.start_time AS start_time,
            tool_book.end_time AS end_time,
            tool_book.reply AS reply,
            tool_book.status AS status,
            tool_book.recent_time AS recent_time
        </if>
        <if test="count != null">
            COUNT(1) AS id
        </if>
        FROM tool_book
        <if test="tool != null">
            JOIN tool
            ON tool.id = tool_book.id
        </if>
        <where>
            <if test="like == null">
                <if test="tool_book != null">
                    <if test="tool_book.tool_id != null">
                        tool_id =  #{tool_book.tool_id}
                    </if>
                    <if test="tool_book.book_message != null">
                        AND book_message = #{tool_book.book_message}
                    </if>
                    <if test="tool_book.book_by != null">
                        AND book_by = #{tool_book.book_by}
                    </if>
                    <if test="tool_book.reply != null">
                        AND reply = #{tool_book.reply}
                    </if>
                    <if test="tool_book.reback != null">
                        AND reback = #{tool_book.reback}
                    </if>
                    <if test="tool_book.start_time != null">
                        AND start_time = #{tool_book.start_time}
                    </if>
                    <if test="tool_book.end_time != null">
                        AND end_time = #{tool_book.end_time}
                    </if>
                    <if test="tool_book.recent_time != null">
                        AND recent_time = #{tool_book.recent_time}
                    </if>
                </if>
            </if>
            <if test="like != null">
                <if test="tool_book != null">
                    <if test="tool_book.tool_id != null">
                        tool_id =  #{tool_book.tool_id}
                    </if>
                    <if test="tool_book.book_message != null">
                        AND book_message LIKE #{tool_book.book_message}
                    </if>
                    <if test="tool_book.book_by != null">
                        AND book_by = #{tool_book.book_by}
                    </if>
                    <if test="tool_book.reply != null">
                        AND reply LIKE #{tool_book.reply}
                    </if>
                    <if test="tool_book.reback != null">
                        AND reback LIKE #{tool_book.reback}
                    </if>
                    <if test="tool_book.end_time != null">
                        AND
                        <if test="in_time != null">
                            NOT
                        </if>
                        (start_time &gt;= #{tool_book.end_time}
                    </if>
                    <if test="tool_book.start_time != null">
                        OR end_time &lt;= #{tool_book.start_time})
                    </if>

                </if>
                <if test="startTime != null">
                    AND recent_time &gt;= #{startTime}
                </if>
                <if test="endTime != null">
                    AND recent_time &lt;= #{endTime}
                </if>
            </if>
        </where>
        <if test="page != null">
            ORDER BY ${page.orderFieldStr} ${page.orderDirectionStr}
            <if test="page.pageStart>-1 and page.pageSize>-1">
                limit #{page.pageStart},#{page.pageSize}
            </if>
        </if>
    </select>
    <!--动态更新一个实体-->
    <update id="update" parameterType="com.viv.entity.Tool_book">
        UPDATE call_board
        <set>
            <if test="tool_id != null">
                tool_id = #{tool_id},
            </if>
            <if test="book_message ！= null">
                book_message = #{book_message},
            </if>
            <if test="book_by != null">
                book_by = #{book_by},
            </if>
            <if  test="start_time != null">
                start_time = #{start_time},
            </if>
            <if test="end_time != null">
                end_time = #{end_time},
            </if>
            <if test="reply != null">
                reply = #{reply},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="reback != null">
                reback = #{reback},
            </if>
            <if test="recent_time != null">
                recent_time = #{recent_time}
            </if>

        </set>
        WHERE id = #{id}
    </update>

</mapper>